<ion-view view-title="Register" name="register-view">
  <ion-content id="mapContent" scroll="false" class="padding" style="background-color:#EFEFEF" style="height:100%">
  		<div style="width:100%;height:50%" >
			<img ng-show="lat!= 0 " style="min-width:100%; max-width:100%;" ng-src="http://maps.googleapis.com/maps/api/staticmap?center={{lat}},{{long}}&zoom=15&size={{mapWidth}}x{{mapHeight}}&sensor=false&markers=color:red%7C{{lat}},{{long}}" id="locationImage" />
			<div ng-show="lat == 0 "class="spinner">
        		<ion-spinner icon="android"></ion-spinner>
      		</div>
		</div>
		<div style="width:100%;height:50%">
    	  <button id='panicBtn' ng-mouseup="mouseUp()" ng-mousedown="mouseDown($event)" ng-mouseleave="mouseUp()" my-touchend="mouseUp()" ng-mouseup="onMouseUp($event)"
         ng-mouseleave="mouseUp($event)" ng-mousemove="mouseUp($event)" ng-mouseover="mouseUp($event)" ng-click="mouseUp($event)" class="button button-block" style="background-color:#13BFE6;color:white;height: 80%;border-radius: 15%;" 
         ng-style="setProgress(progress)"><b>PANIC {{progress}}</b></button>
  		</div>
  </ion-content>
</ion-view> 
