<ion-view view-title="Register" name="register-view">
  <ion-content class="padding" style="background-color:#EFEFEF">

      <!-- <div style="width:100%">
        <h3>
          Regester new device.
        </h3>
      </div>
      <div style="width:100%;width: 120%;margin-left: -10px;">
        <h1 style='background-color: lightskyblue;'>
          Panic.
        </h1>
      </div>
 -->
      <div class="list list-inset" style="margin-top:10px">
          <label class="item item-input" style='border-radius: 10px;'>
              <input type="text" placeholder="Name" ng-model="data.name">
          </label>
      </div>
      <div class="list list-inset" style="margin-top:10px">
          <label class="item item-input"  style='border-radius: 10px;'>
              <input type="text" placeholder="Surname" ng-model="data.surname">
          </label>
      </div>
      <div class="list list-inset" style="margin-top:10px">
          <label class="item item-input" style='border-radius: 10px;' >
              <input type="tel" placeholder="Phone" ng-model="data.phone">
          </label>
      </div>
      <div class="list list-inset" style="margin-top:10px">
          <label class="item item-input" style='border-radius: 10px;' >
              <input type="text" placeholder="Address" ng-model="data.address">
          </label>
      </div>
      <div class="list list-inset" style="margin-top:10px">
          <label class="item item-input" style='border-radius: 10px;' >
              <input type="text" placeholder="Direction" ng-model="data.direction">
          </label>
      </div>
<div class="list list-inset" style="margin-top:10px">
 <label class="item item-input item-select">
                    <div class="input-label">
                        Area
                    </div>
                    <select ng-model="data.area">
                        <option  ng-repeat="area in areas" value="{{area.code}}" ng-show="area.code > 6"> {{area.area}}</option>
                    </select>
                </label>
</div>

      <center  >
        
          <img ng-src="{{data.photo}}" alt="Place Holder" height="200" width="200" ng-click="takePhoto()" style="margin-top:10px;">
      </center>

      <button class="button button-block" style="background-color:#13BFE6;color:white;margin-bottom:10px" ng-click="register()"><b>Register</b></button>
      <br>
      <br>
  </ion-content>
</ion-view> 
