
.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}

.list-inset{
  background-color: transparent;
}
.item-input{
  border-radius: 10px;
}
div.spinner {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 85px;
  text-align: center;
}

div.spinnerHalf {
  margin: auto;
  position: absolute;
  top: -50%;
  left: 0; bottom: 0; right: 0;
  height: 85px;
  text-align: center;
}
.spinner svg {
  width: 19% !important;
  height: 85px !important;
}

#panicBtn{
	background-color: #4098d3;
    color: #fff;
    
}

.buttonDiv
{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  top:60%;
}

.angular-with-newlines {
  white-space: pre;
}
